1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

In [ ]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

my_list = [key for key in sample_dict.keys()]
my_list

['Physics', 'Math', 'history']

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

In [ ]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}

print(sum(sample_dict.values()))

361

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

for key in sample_dict:
  if sample_dict[key]==min(sample_dict.values()):
    print(key)

Math

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

In [ ]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

for i in keys:
  sample_dict.pop(i)

sample_dict

{'age': 23, 'city': 'Baku'}

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

In [ ]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

new_dict = {}

for i in keys:
  new_dict[i]=sample_dict[i]

print(new_dict)

{'name': 'Khalid', 'salary': 1000}

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

7) Print multiplication table of 24 using loop.

In [ ]:
my_list = ['%d*%d=%d'%(24,i,24*i) for i in range(1,11)]

for i in my_list:
  print(i)

24*1=24
24*2=48
24*3=72
24*4=96
24*5=120
24*6=144
24*7=168
24*8=192
24*9=216
24*10=240

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

In [ ]:
def print_factorial(n):
  my_str = ''
  result=1
  for i in range(1,n+1):
    my_str+=str(i)
    if i!=n:
      my_str+='*'
    result*=i
  if n==1:
    print('\nAlso')
  if n==0 or n==1:
    print('%d! = %s'%(n, result))
  else:
    print('%d! = %s = %s'%(n, my_str, result))

n = int(input('insert a number: '))

for i in range(n,-1,-1):
  print_factorial(i)

insert a number: 8
8! = 1*2*3*4*5*6*7*8 = 40320
7! = 1*2*3*4*5*6*7 = 5040
6! = 1*2*3*4*5*6 = 720
5! = 1*2*3*4*5 = 120
4! = 1*2*3*4 = 24
3! = 1*2*3 = 6
2! = 1*2 = 2

Also
1! = 1
0! = 1

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

In [ ]:
n = int(input('type a number: '))
cem=0

while n>0:
  dgts = n%10
  n//=10
  cem+=dgts

print(cem)

type a number: 1234
10

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [ ]:
x= input()

print(len(x))

1231231asda dvidcgs
20